
/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
    color: white;
}

/* Default*/

body {
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("../imgs/background.png");
    background-attachment: fixed;
    background-size: cover; /* Adjust as needed */
    background-position: center center; /* This centers the image horizontally and vertically */
}

.background_dark {
    background-color: rgba(54, 54, 54, 0.9);
}

.wrapper {
    display: flex;
    min-height: 100vh;
    margin: 0 auto;
    max-width: 900px;
    flex-direction: column;
}

header {
    min-height: 9vh;
    display: flex;
    flex-direction: row;
}

main {
    flex: 1;
    padding: 0 10px;
}

.content {
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 88vh;
}

footer {
    height: 3vh;
    padding: 0 20px;
}

hr {
    height: 3px;
    background-color: lightseagreen;
}

.underlined {
    color: rgba(255, 182, 41, 1);
    text-decoration-line: underline;
    text-decoration-color: rgba(255,182,41,1); /* Change to your desired color */
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none; /* Prevent ink skipping for better positioning */
    text-underline-offset: 20px; /* Adjust this value to move the underline up or down */
}

.divided {
    width: 50%;
    text-align: center;
}

.button_component {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    width: 100%;
    margin: 10px 0px;
    min-height: 50px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.text_component {
    padding: 30px 0px;
    text-align: center;
    font-size: 18px;
    font-style: italic;
}

.input_component {
    display: block;
    width: 100%;
    border: 2px solid rgb(40, 140, 255);
    border-radius: 10px;
    margin: 8px 0px;
    color: lightseagreen;
    min-height: 50px;
    font-size: 18px;
    text-align: center;
}

.bg_grey {
    background-color: rgb(240, 240, 240);
    color: rgb(77, 74, 71);
}
.bg_yellow {
    background-color: rgba(255, 182, 41, 1);
}
.bg_green {
    background-color: lightseagreen;
}
.bg_red {
    background-color: rgb(255, 95, 73);
}
.color_green {
    color: lightseagreen;
}


.title {
    padding: 8px;
    font-family: "Satisfy";
    font-size: 40px;
    width: 100%;
    text-align: center;
}

/*-------------------------------------------------------------*/
.main_tabs {
    min-height: 5vh;
    min-width: 50%;
    border-top: 1px solid lightseagreen;
}
#tab_left_btn {
    border-right: 1px solid lightseagreen;
    background-color: rgba(255, 255, 255, 0.1);
}
#tab_right_btn {
    border-left: 1px solid lightseagreen;
    background-color: rgba(255, 255, 255, 0.1);
}

.tabs_body {
    flex: 1;
}
/*----- LEFT TAB --------------------------------------------------------*/
.left_tab_body {
    padding-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 83vh;
}

.create_item_section {
    padding: 20px;
    display: none;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
}

#add_plate_button {
    margin:20px 0px;
}

.create_item_section button {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50px;
}

/*-----------------------------*/
.create_item_inputs_section {
    display: flex;
}

.create_item_inputs h2 {
    min-height: 40px;
    font-size: 18px;
}

.create_item_input {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid lightseagreen;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    margin: 0px;
}

.plus_input_minus {
    display: flex;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
}

.create_item_buttons {
    display: flex;
}
.create_item_buttons button{
    margin: 50px 5px 0px 5px;
}

.add_plate_button {
    margin: 15px 0px;
    width: 100%;
    border-radius: 10px;
}

.btn_round {
    font-size: 22px;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}



/*----- LEFT TAB --------------------------------------------------------*/
.right_tab_body {
    display: none;
    font-size: 18px;
}

#order_list_items li {
    background-color: lightseagreen;
    border-radius: 10px;
    width: 100%;
    margin: 10px 0px;
    min-height: 40px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

/*----------------------------------------------------*/


.right_tab_ul_level_1 {
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}

.right_tab_ul_level_2 {
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid lightseagreen;
    /* background-color: rgba(59, 137, 145, 1); */
    /* background-color: lightseagreen; */
}


.right_tab_ul_level_3 {
    max-height: 0;
    color:white;
    border-radius: 10px;
    border: 1px solid whitesmoke;
    background-color: rgba(54, 54, 54, 0.9);
    
    padding: 6px;
    overflow: hidden;
    transition: max-height 1.0s ease-in, visibility 0.5s ease-in;
    visibility: hidden;
}

.right_tab_ul_level_3.expanded {
    max-height: 500px;
    visibility: visible;
}

.dish_li li{

}
/*----------------------------------------------------------------------------------------------------------------------------*/
/*-------------------*/
/*MEDIA QUERYs*/
@media (max-width: 767px) {
}

/*----------------------------------------------------------------------------------------------------------------------------*/

